:root {
  /* Catppuccin Latte: <https://catppuccin.com/palette> */
  --color-mantle: hsl(220deg 22% 92%);
  --color-base: hsl(220deg 23% 95%);
  --color-surface0: hsl(223deg 16% 83%);
  --color-text: hsl(234deg 16% 35%);
  --color-teal: hsl(183deg 74% 35%);
  --color-love: hsl(343deg 35% 55%);

  /* Shades. */
  --filter-hover: brightness(85%);
  --filter-click: brightness(77%);

  /* Units. */
  --s1: 8px;
  --s2: calc(var(--s1) * 2);
  --s4: calc(var(--s1) * 4);
  --s6: calc(var(--s1) * 6);
  --s8: calc(var(--s1) * 8);
  --text: 2.2rem;
  --text1: calc(var(--text2) + var(--text-increment));
  --text2: calc(var(--text3) + var(--text-increment));
  --text3: calc(var(--text4) + var(--text-increment));
  --text4: calc(var(--text5) + var(--text-increment));
  --text5: calc(var(--text6) + var(--text-increment));
  --text6: calc(var(--text) + var(--text-increment));
  --text-increment: 0.2rem;

  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src:
    url("static/Inter.ttf") format("truetype"),
    url("assets/Inter.ttf") format("truetype");
}

body {
  user-select: none;

  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: minmax(0, 1fr);

  height: 100dvh;
  margin: 0;

  font-size: var(--text);
  font-family: Inter;
  color: var(--color-text);

  background-color: var(--color-base);
}

.Nav {
  padding: var(--s2);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--color-mantle);
}

.Header h1 {
  margin: 0;

  font-size: var(--text1);
  text-align: center;
}

.Nav .container {
  margin: auto;
  width: 100%;
}

.Nav h2 {
  margin-bottom: var(--s1);
}

.Camera {
  display: block;
  width: 100%;
  border-radius: var(--s1);
}

main {
  display: flex;
  flex-direction: column;
  padding: var(--s2);
  gap: var(--s2);
}

.Card {
  background-color: var(--color-surface0);
  border-radius: var(--s1);
  padding: var(--s2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Card h3 {
  display: block;
  background-color: rgb(254, 225, 1);
  border: 3px solid black;
  color: black;
  padding: 5px;
  margin: 0;
}
.Card .time::before {
  content: "Tiempo: ";
  font-weight: bold;
}
.Card .money::before {
  content: "Cobro: ";
  font-weight: bold;
}

/* || Debug. */

._btns {
  display: flex;
  gap: 10px;
}

._btns * {
  margin-top: var(--s1);
  width: 100%;
  height: 30px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

._btns *:active {
  font-weight: bold;
}
