<!doctype html>
<html lang="es-CO">
  <head>
    <meta charset="utf-8" />
    <title>Factura</title>
<style>
   * {
      background-color: #fff;
      color: #000;
   }
</style>
  </head>
  <body>
    <h1>Factura de venta</h1>
    <p>Cobro por servicio de parqueadero.</p>
    <br />
    <h2>Placa: {{ plate }}</h2>
    <p>Hora de entrada: {{ time_in }}</p>
    <p>Hora de salida: {{ time_out }}</p>
    <p>Tiempo total: {{ total_time }}</p>
    <br />
    <h1>Valor a pagar: ${{ price }}</h1>
  </body>
</html>
